{% extends 'base-front.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Réinitialiser votre mot de passe</h2>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}