{% extends 'base-front.html.twig' %}

{% block title %}Mot de passe modifié avec succés{% endblock %}

{% block body %}
<div class="container">
    <p>Mot de passe modifié avec succès</p>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>

</div>
{% endblock %}

{% block footer %}

{% endblock %}