.price{
    color: $alert;
}
.big{
    font-size: 5em;
}
.btn-alert{
    background-color: $alert;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.carousel-control-next-icon{
    background-color: #0d6efd;
}
.carousel-control-prev-icon{
    background-color: #0d6efd;
}

.carousel-indicators [data-bs-target]{
    background-color: #0d6efd;
}