@import "~bootstrap";


$primary : rgb(29, 78, 216);

.Big{
    font-size: 6em;
}

a{
    text-decoration: none;
}

// My Works
@import 'component/navbar';

@import 'templates/speech';
@import 'templates/space';